@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<br />

<p>This is a demo application for a sample ticketing system application. This application uses ASP.NET framework to provide a clean, dynamic, and powerful solution to assist in solving the needs of your oganization. </p>
<p>Current features include authentication and basic ticket creation. This project is currently in the early development stages and will be updated frequently as time progresses.</p>
<p>You can use the available Web APIs to interact with our services via our project, your custom software, or a third party such as Postman. Enjoy! We love to hear of any recommended features</p>

<br />

<div class="jumbotron">
    <center><p class="lead">This project will be maintained using github. You can view the repository using the button below</p></center>
    <center><p><a class="btn btn-default" href="https://github.com/DaCrunkness">Github Repository</a></p></center>
</div>
