@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>
<h3>You can reach us at the contact points below for further information</h3>

<address>
    Hardwork Avenue<br />
    The Lab, BR<br />
    <abbr title="Phone">P:</abbr>
    444.444.4444
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dev@smithovision.com">dev@smithovision.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@smithovision.com">info@smithovision.com</a>
</address>