@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">Welcome to the digital service desk. Please explore available features</p>
    <p><a href="https://localhost:44328/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a demo application for a sample ticketing system application. This application uses ASP.NET framework to provide a clean, dynamic, and powerful solution to assist in solving the needs of your oganization.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44328/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services you need</h2>
        <p>Current features include authentication and basic ticket creation. This project is currently in the early development stages and will be updated frequently as time progresses.</p>
        <p><a class="btn btn-default" href="https://localhost:44328/Ticket">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web APIs</h2>
        <p>You can use the available Web APIs to interact with our services via our project, your custom software, or a third party such as Postman. Enjoy! We love to hear of any recommended features</p>
        <p><a class="btn btn-default" href="https://localhost:44328/Home/About">Learn more &raquo;</a></p>
    </div>
</div>